body{
    background-color: beige;
}

ol, ul, p{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 500px;
    padding:0px;
    /* margin-left: 0; */
    
}

h2{
    text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20;
}

li, h1, h2{
    width:500px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: rgba(151, 115, 68, 0.377);
    width:600px;
    padding:3px;

}

img{
    width:600px;
    height:auto;

}

section, img{
    border:3px solid brown;
    padding:0;
}

*{
    /* outline:dashed rgba(255, 0, 0, 0.192); */
    margin:10px;
    padding: 5px;
    box-sizing: border-box;
    width:600px;
    margin:10px auto;

}
a:link{
    color:brown;
}

a:visited{
    color: darkred;
}
